
  <div class="bg-image" style="background-image: url('/assets/loginwatertable.jpeg');">
    <div class="row g-0 bg-primary-dark-op">
      <!-- Meta Info Section -->
      <div class="hero-static col-lg-4 d-none d-lg-flex flex-column justify-content-center">
        <div class="p-4 p-xl-5 flex-grow-1 d-flex align-items-center">
          <div class="w-100">
            <a class="link-fx fw-semibold fs-2 text-white" href="index.html">
              Netwerth<span class="fw-normal">Card</span>
            </a>
            <p class="text-white-75 me-xl-8 mt-2">
              Welcome to your amazing app. Feel free to login and start managing your projects and clients.
            </p>
          </div>
        </div>
        <div class="p-4 p-xl-5 d-xl-flex justify-content-between align-items-center fs-sm">
          <p class="fw-medium text-white-50 mb-0">
            <strong>Netwerth Card</strong> © <span data-toggle="year-copy" class="js-year-copy-enabled">2022</span>
          </p>
          <ul class="list list-inline mb-0 py-2">
            <li class="list-inline-item">
              <a class="text-white-75 fw-medium" href="javascript:void(0)">Legal</a>
            </li>
            <li class="list-inline-item">
              <a class="text-white-75 fw-medium" href="javascript:void(0)">Contact</a>
            </li>
            <li class="list-inline-item">
              <a class="text-white-75 fw-medium" href="javascript:void(0)">Terms</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- END Meta Info Section -->

      <!-- Main Section -->
      <div class="hero-static col-lg-8 d-flex flex-column align-items-center bg-body-extra-light">
        <div class="p-3 w-100 d-lg-none text-center">
          <a class="link-fx fw-semibold fs-3 text-dark" href="index.html">
            Netwerth<span class="fw-normal">Card</span>
          </a>
        </div>
        <div class="p-4 w-100 flex-grow-1 d-flex align-items-center">
          <div class="w-100">
            <!-- Header -->
            <div class="text-center mb-5">
              <p class="mb-3">
                <%= image_tag "sublogo.png", width: 250, height: 100 %>
              </p>
              <h1 class="fw-bold mb-2">
                Sign In
              </h1>
              <p class="fw-medium text-muted">
                Welcome, please login or <a href="/auth/sign-up">sign up</a> for a new account.
              </p>
            </div>
            <!-- END Header -->

            <!-- Sign In Form -->
            <!-- jQuery Validation (.js-validation-signin class is initialized in js/pages/op_auth_signin.min.js which was auto compiled from _js/pages/op_auth_signin.js) -->
            <!-- For more info and examples you can check out https://github.com/jzaefferer/jquery-validation -->
            <div class="row g-0 justify-content-center">
              <div class="col-sm-8 col-xl-4">
                <%= form_for(:newLogin, url: api_v2_sessions_path) do |f| %>
                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg form-control-alt py-3" %>
                  </div>

                  <div class="field">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-lg form-control-alt py-3" %>
                  </div>

                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                      <%= render "devise/shared/links" %>
                      <% if devise_mapping.rememberable? %>
                        <div class="field">
                          <%= f.check_box :remember_me %>
                          <%= f.label :remember_me %>
                        </div>
                      <% end %>
                    </div>
                    <div>
                      <%= f.submit "Log in", class: "btn btn-lg btn-alt-primary" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <!-- END Sign In Form -->
          </div>
        </div>
        <div class="px-4 py-3 w-100 d-lg-none d-flex flex-column flex-sm-row justify-content-between fs-sm text-center text-sm-start">
          <p class="fw-medium text-black-50 py-2 mb-0">
            <strong>Netwerth Card</strong> © <span data-toggle="year-copy" class="js-year-copy-enabled">2022</span>
          </p>
          <ul class="list list-inline py-2 mb-0">
            <li class="list-inline-item">
              <a class="text-muted fw-medium" href="javascript:void(0)">Legal</a>
            </li>
            <li class="list-inline-item">
              <a class="text-muted fw-medium" href="javascript:void(0)">Contact</a>
            </li>
            <li class="list-inline-item">
              <a class="text-muted fw-medium" href="javascript:void(0)">Terms</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- END Main Section -->
    </div>
  </div>
